<div>

  <% if record.present? %>
    <% record.medication_records.order(:dosage_id)
      .group_by { |mr| mr.dosage.name } 
      .each do |dosage_name, mrs| %>

      <p>○<%= dosage_name %></p>

      <ul>
        <% mrs.each do |mr| %>
          <li>
            <%= mr.medication.name %>
            (<%= mr.medication.use %>)
          </li>
        <% end %>
      </ul>
    <% end %>

    <div>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2b6cb0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
        <polyline points="14 2 14 8 20 8"></polyline>
        <line x1="16" y1="13" x2="8" y2="13"></line>
        <line x1="16" y1="17" x2="8" y2="17"></line>
        <polyline points="10 9 9 9 8 9"></polyline>
        </svg>体調メモ
      </p>
      <%= record.memo %>
    </div>
  <% end %>
</div>